#Circulo{
 width: 150px;
 height: 150px;
 background-color: red;
 border-radius: 50%;
 cursor: pointer;
 transition: 0.3s;
}
#texto{
  font-size: 20px;
  transition: 0.3s;
}
button{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
}
button:hover{
  background-color: gray;
}